* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url(../assets/img/image_50733057.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}
#paloma {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: black;
  color: rgb(233, 19, 108);
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
strong {
  -webkit-transition: -webkit-transform 1s ease-in-out 1s;
}
strong:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
}
.push-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f3bbc9;
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.push-button:hover {
  background-color: rgb(233, 19, 108);
  width: 120px;
  height: 120px;
}
a {
  color: black;
  text-decoration: none;
}
#menu {
  position: absolute;
  top: 10%;
  left: 33%;
}
#id {
  position: absolute;
  top: 10%;
  right: 33%;
}
#traiteur {
  position: absolute;
  top: 40%;
  left: 22%;
  font-size: 18px;
}
#gallerie {
  position: absolute;
  right: 22%;
  top: 40%;
  font-size: 18px;
}
#contact {
  position: absolute;
  bottom: 10%;
  left: 33%;
  font-size: 16px;
  text-align: center;
}
#reseaux {
  position: absolute;
  bottom: 10%;
  right: 33%;
  font-size: 18px;
}
