* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    color: rgb(233, 19, 108);
    text-align: center;
    font-size: 35px;
    background-image: url(../assets/img/image_50733057.JPG);
    background-size: cover;
    background-repeat: no-repeat;

}

h2 {
    font-size: 60px;
    padding: 30px;
}

#arrow {
    color: rgb(233, 19, 108);
}

img {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color: #F3bbc9;
}

.float-container {
    display: flex;
    justify-content: center;
}

.float-child {
    float: left;
    padding: 20px;
}  