*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
    color: rgb(233, 19, 108);
    text-align: center;
    font-size: 35px;
    background-image: url(../assets/img/image_50733057.JPG);
    background-size: cover;
    background-repeat: no-repeat;

}
#arrow1{
    color: rgb(233, 19, 108);
}
img{
    width: 350px;
    height: 500px;
    border: 2px solid black;
    background-color: #F3bbc9;
}
div img{
    width: 520px;
    height: 410px;
    border: 2px solid black;
    background-color: #F3bbc9; 
}