* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: 0 auto;
  color: rgb(233, 19, 108);
  text-align: center;
  background-color: black;
}
h2{
  font-size: 40px;
  padding-top: 25px;
}
#lunch{
  float: left;
  display: inline-block;
  width: 49%;
}
img{
  padding: 20px;
  width: 500px;
}
#dinner{
  float: right;
  display: inline-block;
  width: 49%;
}
#arrow {
  color: rgb(233, 19, 108);
  font-size: 40px;
  position: absolute;
  top: 900px
}